<form [formGroup]="todosForm" (ngSubmit)="handleCreateTodo()">
  <section class="todo_form_card">
    <h1 class="todo_form_title">Adicionar Tarefa</h1>

    <mat-form-field class="todo_form_input" color="accent" appearance="outline">
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" placeholder="Título da taarefa" />
    </mat-form-field>

    <mat-form-field class="todo_form_input" color="accent" appearance="outline">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="description" placeholder="Descrição da taarefa"></textarea>
    </mat-form-field>

    <div class="todo_form_actions">
      <button mat-raised-button class="todo_form_success_btn" type="submit">Adicionar</button>
      <button mat-raised-button color="warn" type="button" (click)="handleCloseModal()">Cancelar</button>
    </div>
  </section>
</form>
